{% extends "Master.html" %}

{% block title %}Reset Password{% endblock %}
{% block head %}
    {% load static from staticfiles %}
    <script>
        $(document).ready(function(){
            $('nav').hide();
            $('#settingsButton').hide();
        });
    </script>
{% endblock %}

{% block content %}
<div id="login-container">
    <div id="login-header">
        <div id="login-header-branding">
            <h1 id="site-name">
                <p>Forgot My Password</p>
            </h1>
        </div>
    </div>
    <div id="login-content">
        <div id="login-content-main">
            <form method="POST" action="" id="login-form">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
                <div class="form-row">
                    <p><label for="id_email">Email address:</label>
                    {{ form.email }}
                </div>
                <div class="submit-row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div id="login-footer"></div>
</div>
{% endblock %}