{% extends "Master.html" %}

{% block title %}Password reset complete{% endblock %}

{% block head %}
    {% load static from staticfiles %}
    <script>
        $(document).ready(function(){
            $('nav').hide();
            $('#settingsButton').hide();
        });
    </script>
{% endblock %}

{% block content %}
<div id="login-container">
    <div id="login-header">
        <div id="login-header-branding">
            <h1 id="site-name">
                <p>Forgot My Password</p>
            </h1>
        </div>
    </div>
    <div id="login-content">
        <div id="login-content-main">
            <p>Your password has been set. You may go ahead and log in now.</p>
            <div class="submit-row">
                <a href="/accounts/login/" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
    <div id="login-footer"></div>
</div>
{% endblock %}

