{% extends "Master.html" %}

{% block head %}
    {% load static from staticfiles %}
    <script>
        $(document).ready(function(){
            $('nav').hide();
            $('#settingsButton').hide();
        });
    </script>
{% endblock %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div id="login-container">
    <div id="login-header">
        <div id="login-header-branding">
            <h1 id="site-name">
                <p>Forgot My Password</p>
            </h1>
        </div>
    </div>
    <div id="login-content">
        <div id="login-content-main">
            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
            <p>You should be receiving it shortly.</p>
        </div>
    </div>
    <div id="login-footer"></div>
</div>
{% endblock %}


