.pageWrapper{
    margin: 5%;
}

.appt{
    background-color: red;
    min-height: 1px;
    min-width: 1px;
}

.lunch{
    background-color: dodgerblue;
    min-height: 1px;
    min-width: 1px;
}

.filler{
    background-color: inherit;
    min-height: 1px;
    min-width: 1px;
}

.unavailable{
    background-color: #d6d6c2;
}

.striped{
    background: repeating-linear-gradient(
      45deg,
      #ffffff,
      #ffffff 10px,
      #d6d6c2 10px,
      #d6d6c2 20px
    );
}

.table-grouper{
    background-color: cadetblue;
}
.table-grouper:hover{
    cursor: pointer;
    background-color: #9acfea;
}
