body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
}
#content {
   padding-bottom: 80px;   /* Height of the footer + footer margins*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: #f5f5f0;
    border-top: 1px solid #d6d6c2;
    color: #666666;
    font-size: 10px;
    margin-top: 20px;
    padding: 10px 15px 5px 15px;
}
.title{
    color: #006ba6;
    font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
    font-size: 21pt;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-title{
    width: 100%;
    background-color: #003b71;
    color: white;
    text-align: center;
    font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;

}
.header-title h3{
    padding: 1%;
    margin: 0px;
}
.glyphicon-button{
    font-size: x-large;
    color: #ff8000;
}
.glyphicon-button:hover{
    color: #ffb366;
    cursor: pointer;
}
.glyphicon-button-bright:hover{
    color: #5bc0de !important;
    cursor: pointer;
    font-size: xx-large;
}
/*------------------new_schedule page------------------*/
.input-fill-cell > input, .input-fill-cell > select{ /*ensures that input within a cell spans full cell*/
    width: 100%;
}
/*------------------navigation------------------*/
.nav-tabs > li > a{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.nav-tabs > li:not(.active){
    background-color: #003b71;
}
.nav-tabs > li:not(.active) > a{
    color: white;
}
.nav-tabs > li:not(.active) > a:hover{
    background-color: #0077e6 !important;
}
/*--------------used on the calendar page--------------*/
.appt{
    float: left;
    display: inline-block;
    font-family: sans-serif;
    color:black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.appt-reserved{
    opacity: .5;
}
a.appt:hover{
    text-decoration: none;
}
a.appt:focus{
    text-decoration: none;
}
.filler{
    background-color: inherit;
    float: left;
    display: inline-block;
}
.lunch{
    z-index: 2;
    opacity: .75;
    height: 20px;
    background: repeating-linear-gradient(
      20deg,
      transparent,
      transparent 10px,
      lightblue 10px,
      lightblue 20px
    ) !important;
    text-decoration: none;
}
.lunch-filler{
    z-index: 2;
    background-color: transparent  !important;
}

.unavailable{
    z-index: 2;
    opacity: .75;
    background: repeating-linear-gradient(
      20deg,
      #ffffff,
      #ffffff 10px,
      #d6d6c2 10px,
      #d6d6c2 20px
    ) !important;
}
.table-grouper{
    background-color: grey !important;
    color: white;
}
.table-grouper:hover{
    cursor: pointer;
    background-color: dimgrey;
}
.active {
    cursor: pointer;
    background-color: #0084ff !important;
    text-decoration: none;
}
/*--------------used on the home page--------------*/
.links-container{
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 2%;
}
.links-container p {
    font-size: 13px;
    color: #666666;
    margin: 0;
    padding: 0;
}
.menu-image:hover {
    cursor: pointer;
}
.circle{
    display:inline-block;
    vertical-align: middle;
    border: 0;
    width:90px;
    height:90px;
    border-radius:50px;
    font-size:20px;
    color: white;
    line-height:100px;
    text-align:center;
    background-color: #eb8a00;
    font-size: xx-large;
    margin: 0px;
}
