.pageWrapper{
    margin: 5%;
}

.appt{
}

.lunch{
    background-color: dodgerblue;
    z-index: 2;
    opacity: .5;
}

.filler{
    background-color: inherit;
}

.unavailable{
    background-color: #d6d6c2;
    z-index: 2;
    opacity: .5;
}

.striped{
    background: repeating-linear-gradient(
      45deg,
      #ffffff,
      #ffffff 10px,
      #d6d6c2 10px,
      #d6d6c2 20px
    );
}

.table-grouper{
    background-color: cadetblue;
}
.table-grouper:hover{
    cursor: pointer;
    background-color: #9acfea;
}
