{% extends "Master.html" %}

{% block title %}Schedule{% endblock %}
{% block head %}
    {% load static from staticfiles %}
    <script src="{% static "js/calendar.js"%}" rel="script"></script>
    <script>
        $(document).ready(function(){
            {% for Appt in Appointments %}
                AddAppointment({{ Appt.NurseScheduleID }}, {{ Appt.ChairID }}, '{{ Appt.StartTime | time:"H:i" }}', '{{ Appt.EndTime | time:"H:i" }}', {{ forloop.counter }});
            {% endfor %}

            {% for RN in RNSet %}
                BuildRNRow({{ forloop.counter }},'{{ RN.StartTime | time:"H:i" }}','{{ RN.LunchTime | time:"H:i" }}', {{ RN.LunchDuration }}, '{{ RN.EndTime | time:"H:i" }}');
            {% endfor %}
            //enable hover event for appointment blocks
            $('a.appt').hover(
                function() {
                    $('.appt-'+this.id).addClass('active');
                },
                function() {
                    $('.appt-'+this.id).removeClass('active');
                }
            );
            //enable popovers
            $(function () {
              $('[data-toggle="popover"]').popover()
            })
            //ensure the navbar is pointing to this page
            $('.nav > li').removeClass('active');
            {% if Schedule %}
                $('#navViewOld').addClass('active');
            {% else %}
                $('#navCreateNew').addClass('active');
            {% endif %}
        });
    </script>
{% endblock %}
{% block content %}
    {% if Schedule %}
        <h2 class="title text-center" style="padding-bottom: 0px; margin-bottom: 0px;">{{ Schedule.Name }}</h2>
        <h5 class="text-center">Created {{ Schedule.SavedDate }}</h5>
    {% endif %}
    {% if not Appointments %}
        <p>Error: there are no scheduled appointments</p>
    {% endif %}

    <div id="pageAlert" class="alert alert-success" role="alert" style="display: none;"></div>

    {% if not Schedule %}
    <a id="saveSchd" style="float: right; margin: 4px" data-toggle="modal" data-target="#saveModal" onclick="
        $('#yesOverwrite').hide();
        $('#noOverwrite').hide();
        $('#save_alert').hide();">
        <span class="glyphicon glyphicon-floppy-disk glyphicon-button" aria-hidden="true" title="Save"></span>
    </a>
    {% endif %}
    <a style="float: right; margin: 4px">
        <span class="glyphicon glyphicon-download-alt glyphicon-button" aria-hidden="true" title="Download"></span>
    </a>
    <a style="float: right; margin: 4px">
        <span class="glyphicon glyphicon-print glyphicon-button" aria-hidden="true" title="Print"></span>
    </a>

    <table id="calendar" class="table table-bordered table-responsive" width="100%">
        <tr style="background-color: beige">
            <th>Pod</th>
            <th>8:00</th>
            <th>9:00</th>
            <th>10:00</th>
            <th>11:00</th>
            <th>12:00</th>
            <th>1:00</th>
            <th>2:00</th>
            <th>3:00</th>
            <th>4:00</th>
            <th>5:00</th>
        </tr>
        {% for RN in RNSet %}
            {% ifchanged RN.Team %}
                <tr id="collapse-row-{{ forloop.counter }}" onclick="rowSelect({{ forloop.counter }},4)" class="table-grouper">
                    <td colspan="11">
                        <span id="arrow-{{ forloop.counter }}" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                        Pod {{ RN.Team }}
                    </td>
                </tr>
            {% endifchanged %}
            <tr id="RN-{{ forloop.counter }}" style="background-color: beige">
                <td rowspan={{ RNSize }}>{{ forloop.counter }}-{{ RN.Team }}</td>
            </tr>
            {% for i in Chairs %}
                <tr id="RN-{{ forloop.parentloop.counter }}-row-{{ i }}">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <br><br>

    <div id="saveModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Save</h4>
          </div>
          <div class="modal-body">
              <label for="SaveName">Save as: </label>
              <input id="SaveName" type="text">
              <br>
              <label id="save_alert">This is an alert!</label>
              <button id="yesOverwrite" type="button" class="btn btn-primary" data-dismiss="modal" onclick="
                    if(SaveSchedule(true))
                            $('#saveModal').modal('hide');
                  ">Yes</button>
              <button id="noOverwrite" type="button" class="btn btn-primary" onclick="
                   $('#yesOverwrite').hide();
                    $('#noOverwrite').hide();
                    $('#save_alert').hide();
                    $('#SaveName').attr('readonly','false');
                ">No</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="
                    if(SaveSchedule(false))
                        $('#saveModal').modal('hide');
                ">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}