{% extends "Master.html" %}

{% block title %}Schedule{% endblock %}
{% block head %}
     <script src="/static/js/calendar.js" rel="script"></script>
    <script>
        $(document).ready(function(){
            AddAppointment(1, 0, "8:00", "9:00");
            AddAppointment(1, 0, "9:00", "9:50");
            AddAppointment(1, 0, "10:00", "12:30");
            AddAppointment(1, 0, "13:30", "16:30");
            AddAppointment(1, 1, "8:10", "8:30");
            AddAppointment(1, 1, "8:40", "9:00");
            AddAppointment(1, 2, "9:10", "9:30");
            AddAppointment(1, 2, "9:35", "9:40");
            AddAppointment(1, 2, "9:45", "9:50");
            AddAppointment(1, 2, "10:10", "11:00");
            AddAppointment(1, 2, "13:00", "14:30");
            AddAppointment(1, 2, "15:30", "17:00");
            AddAppointment(1, 3, "8:00", "9:10");
            AddAppointment(1, 3, "9:30", "9:50");
            AddAppointment(1, 3, "9:50", "10:00");

            {% for RN in RNSet %}
                BuildRNRow({{ forloop.counter }},'{{ RN.StartTime | time:"H:i" }}','{{ RN.LunchTime | time:"H:i" }}', {{ RN.LunchDuration }}, '{{ RN.EndTime | time:"H:i" }}');
            {% endfor %}
        });
    </script>
{% endblock %}
{% block content %}
    <table id="calendar" class="table table-bordered table-responsive" width="100%">
        <tr>
            <th>Pod</th>
            <th>8:00</th>
            <th>9:00</th>
            <th>10:00</th>
            <th>11:00</th>
            <th>12:00</th>
            <th>1:00</th>
            <th>2:00</th>
            <th>3:00</th>
            <th>4:00</th>
            <th>5:00</th>
        </tr>
        {% for RN in RNSet %}
            {% ifchanged RN.Team %}
                <tr id="collapse-row-{{ forloop.counter }}" onclick="rowSelect({{ forloop.counter }},4)" class="table-grouper">
                    <td colspan="11">Pod {{ RN.Team }}</td>
                </tr>
            {% endifchanged %}
            <tr id="RN-{{ forloop.counter }}">
                <td rowspan={{ RNSize }}>{{ forloop.counter }}-{{ RN.Team }}</td>
            </tr>
            {% for i in Chairs %} {# 123 represents the three chars#}
                <tr id="RN-{{ forloop.parentloop.counter }}-row-{{ i }}">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <br>

    <h3>INPUT:</h3>
    {% if Chairs %}
        <span style="font-weight: bold">Chairs: </span>{{ Chairs }}
    {% else %}
        <p>No Chairs are Available</p>
    {% endif %}
    <br><br>
    {% if RNSet %}
        <table class="table">
            <tr style="font-weight: bold">
                <th>Pod Team</th>
                <th>Start Time</th>
                <th>Lunch Time</th>
                <th>Lunch Duration</th>
                <th>End Time</th>
            </tr>
            {% for RN in RNSet %}
                <tr>
                    <td>{{ RN.Team }}</td>
                    <td>{{ RN.StartTime }}</td>
                    <td>{{ RN.LunchTime }}</td>
                    <td>{{ RN.LunchDuration }}</td>
                    <td>{{ RN.EndTime }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No RNs are available.</p>
    {% endif %}
    <br>
    {% if Appointments %}
        <table>
            <tr style="font-weight: bold">
                <th>Appointments Needed</th>
            </tr>
        {% for App in Appointments %}
            <tr>
                <td>{{ App }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No appointments are available</p>
    {% endif %}
{% endblock %}