{% extends "Master.html" %}

{% block title %}Schedule{% endblock %}
{% block head %}
     <script src="/static/js/calendar.js" rel="script"></script>
    <script>
        $(document).ready(function(){
            {% for Appt in Appointments %}
                AddAppointment({{ Appt.NurseScheduleID }}, {{ Appt.ChairID }}, '{{ Appt.StartTime | time:"H:i" }}', '{{ Appt.EndTime | time:"H:i" }}');
            {% endfor %}

            {% for RN in RNSet %}
                BuildRNRow({{ forloop.counter }},'{{ RN.StartTime | time:"H:i" }}','{{ RN.LunchTime | time:"H:i" }}', {{ RN.LunchDuration }}, '{{ RN.EndTime | time:"H:i" }}');
            {% endfor %}
        });
    </script>
{% endblock %}
{% block content %}
    {% if not Appointments %}
        <p>Error: there are no scheduled appointments</p>
    {% endif %}
    <table id="calendar" class="table table-bordered table-responsive" width="100%">
        <tr style="background-color: beige">
            <th>Pod</th>
            <th>8:00</th>
            <th>9:00</th>
            <th>10:00</th>
            <th>11:00</th>
            <th>12:00</th>
            <th>1:00</th>
            <th>2:00</th>
            <th>3:00</th>
            <th>4:00</th>
            <th>5:00</th>
        </tr>
        {% for RN in RNSet %}
            {% ifchanged RN.Team %}
                <tr id="collapse-row-{{ forloop.counter }}" onclick="rowSelect({{ forloop.counter }},4)" class="table-grouper">
                    <td colspan="11">
                        <span id="arrow-{{ forloop.counter }}" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                        Pod {{ RN.Team }}
                    </td>
                </tr>
            {% endifchanged %}
            <tr id="RN-{{ forloop.counter }}" style="background-color: beige">
                <td rowspan={{ RNSize }}>{{ forloop.counter }}-{{ RN.Team }}</td>
            </tr>
            {% for i in Chairs %} {# 123 represents the three chars#}
                <tr id="RN-{{ forloop.parentloop.counter }}-row-{{ i }}">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <br>

{% endblock %}