{% extends "Master.html" %}

{% block title %}New Schedule{% endblock %}
{% block head %}
    <script>
        $(document).ready(function(){
            $('#mainNav').hide();
        });
    </script>
    <style>
        h2{
            width: 100%;
            border-bottom: solid lightgrey 1px;
        }
        h3{
            color: #8aa4ab;
            padding-left: 3%;
            margin-top: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <!--Main Content -->
        <div class="col-md-9" role="main">
            <section class="group">
                <h2 id="ApplicationPurpose">Application Purpose</h2>
                dasdasdas dsadasd dsadasdasdsaddsadas
            </section>

            <section class="group">
                <h2 id="Preface">Preface</h2>
                <div class="row well">
                    <h3 id="Vocabulary">Vocabulary</h3>
                    <div class="col-md-8">
                        <p>
                            Definitions of common terms used.
                        </p><br>
                            <table class="table">
                            <tr>
                                <th style="min-width: 100px;">RN Schedules</th>
                                <td>Location where users can add/remove RNs and add their work details.</td>
                            </tr>
                            <tr>
                                <th>Pod Team</th>
                                <td>Team associated with RN. Used to identify who works with each other as a team.</td>
                            </tr>
                            <tr>
                                <th>Start Time</th>
                                <td>The time where a RN officially starts work.</td>
                            </tr>
                            <tr>
                                <th>Lunch Time</th>
                                <td>The time where a RN officially starts his/her lunch.</td>
                            </tr>
                            <tr>
                                <th>Lunch Duration</th>
                                <td>The duration of RN's lunch break.</td>
                            </tr>
                            <tr>
                                <th>End Time</th>
                                <td>The time where a RN officially ends work.</td>
                            </tr>
                            <tr>
                                <th>Reserved Time Periods</th>
                                <td>Used to place mandatory appointments for a RN. Example:
                                    If Nurse 1 knows he/she has an appointment that can not be missed for 1 hour at
                                    9 am. You would use section of the form to input it.</td>
                            </tr>
                            <tr>
                                <th>RN Number</th>
                                <td>Unique ID associated with RN. Look at left most column at RN Schedules when
                                    using the new Schedule page to find the ID.</td>
                            </tr>
                            <tr>
                                <th>Chair Number</th>
                                <td>Represents which chair you want to assign the mandatory appointment. Total number
                                    of chairs per nurse can be changed at the settings page.</td>
                            </tr>
                            <tr>
                                <th>Needed Timeslots</th>
                                <td>Location where users can input the number of different appointments that users want.
                                    Example: 30 30 minute appointments, 15 1 hour appointments, etc</td>
                            </tr>
                            <tr>
                                <th>Prioritize Longer Appointments</th>
                                <td>If checked, the algorithm will try to fit as many longest appointments and work
                                    its way down to smaller appointments. If not checked, priority will be given based
                                    on the order of the list from top to bottom.</td>
                            </tr>
                            <tr>
                                <th>Prepopulate Timeslots</th>
                                <td>If clicked, it will autofill the timeslots selections with every single timeslot and
                                    autofill the total needed with 0.</td>
                            </tr>
                            <tr>
                                <th>Error Message</th>
                                <td>An input given was incorrect. Please fix the error listed and try again.</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3 id="Navigation">Navigation</h3>
            </section>

            <section class="group">
                <h2 id="Functionality">Functionality</h2>
                <h3 id="CreatingNewSchedule">Creating a New Schedule</h3>
                <div class="row well">
                    <h3 id="CalendarView">The Calendar view</h3>
                    <div class="col-md-8">
                        <p>
                            This page is where users can see the final schedule for the RNs. Each column is broken down
                            by the hour and each row block represents a pod and their respective nurse.
                        </p><br>
                        <table class="table">
                            <tr>
                                <th>Pod</th>
                                <td>Each pod is represented by a solid grey filled bar. Right below are the respective
                                    RN for the pods. A pod can be collapsed to make it easier to view other pods.</td>
                            </tr>
                            <tr>
                                <th>Nurse / Chairs</th>
                                <td>Each RN is represented by their ID and chair in the pattern #:A where # represents
                                    the ID and A represents their chair. They can be found in the very left column of the
                                    calendar. The rows next to the RNs represent their respective chairs.</td>
                            </tr>
                            <tr>
                                <th>Appointment</th>
                                <td>The color bars shown represent all possible appointments. Each appointment length
                                    has their own unique color code. Each appointment can be clicked on to show more
                                    specific details such as start time, end time, and duration.</td>
                            </tr>
                            <tr>
                                <th>Striped Bars</th>
                                <td>The blue striped bars represent the RN's lunch time. The grey striped bars represent
                                    times when they are not available due to early end time or later start time.</td>
                            </tr>
                            <tr>
                                <th>Dropdown Menu</th>
                                <td>The dropdown menu represents the drugs that are available for the patients. Each drug
                                    has specific rules and any appointments that can not satisfy the rules are greyed out.</td>
                            </tr>
                        </table>
                        <br>
                        <p>
                            <strong>How to use:</strong>
                            The calendar shows all the appointments that can fit for each nurse. The appointments that
                            can not be fitted are shown in a red alert box at the top and means that the user has inputted
                            too many appointments. RNs be collapsed by their respective pods for easier visibility. Each
                            appointment is color coded by their length and be clicked on to show extra details. The drop
                            down menu in the top left corner gives the user the ability to show which appointment can
                            satisfy the selected drug's rules. The blue-striped bars represent RN's lunch time and the
                            grey-striped bars represent when they are not available. Users also have the ability to save
                            and print their schedule which can be found at the top right of the calendar.
                        </p>
                    </div>
                </div>
                <h3 id="SavedSchedules">Viewing Saved Schedules</h3>
                <div class="row well">
                    <h3 id="Settings">Schedule Generation Settings</h3>
                    <div class="col-md-8">
                        <p>
                            These settings allow the user to change the way that the schedules are generated.
                            Please be aware that changing these settings will effect all users.
                        </p><br>
                        <table class="table">
                            <tr>
                                <th style="min-width: 100px;">Chairs per RN</th>
                                <td>The maximum number of patients that each RN can be assigned at a time.</td>
                            </tr>
                            <tr>
                                <th>Open Time</th>
                                <td>The time that the chemotherapy facility opens.
                                    Restricts the time that RNs can be start, and the time that appointments can be scheduled
                                </td>
                            </tr>
                            <tr>
                                <th>Close Time</th>
                                <td>The time that the chemotherapy facility closes.
                                    Restricts the time that RNs can work until, and the time that appointments can be scheduled
                                </td>
                            </tr>
                            <tr>
                                <th>Start Delay</th>
                                <td>The amount of minutes after the open time before any appointments can be scheduled</td>
                            </tr>
                        </table>
                        <br>
                        <p>
                            The settings are saved to the text file called UserSettings in YAML format.
                        </p>
                    </div>
                    <div class="col-md-4"><img src="\static\images\SettingsExample.png"></div>
                </div>
                <h3 id="AdminPage">The Admin Page</h3>
            </section>

            <section class="group">
                <h2 id="Distribution">Distribution</h2>
                <div class="well">
                <h3 id="Database">Setting up the Database</h3>
                <p>
                    The python file settings.py is what Django uses to determine the application settings being used.
                    The 'DATABASES' field will need to be changed to specify your database engine (ex: postgresql) and
                    the connection information.
                </p>
                <p>
                    <a href="https://docs.djangoproject.com/en/1.9/ref/databases/">Click Here</a>
                     For more information on what database engines Django supports.
                </p>
                <p>
                    <a href="https://docs.djangoproject.com/en/1.9/topics/settings/">Click Here</a>
                     For more information on configuring the settings.py file.
                </p>
                </div>
            </section>

            <section class="group">
                <h2 id="MeetTheCreators">Meet The Creators</h2>
                <img alt="Rachel Church" src="http://www.gravatar.com/avatar/b002350502e3734bcc94d9d11240e022">
                Rachel Church <br>
                <img alt="Alex Peng" src="http://www.gravatar.com/avatar/d85b9512652016482919000a189124fa">
                Alex Peng <br>
                <img alt="Jett Lewis" src="http://www.gravatar.com/avatar/cc0e9ffcb0e8c4ec97e0525b40e2a17d">
                Jett Lewis <br>
                <img alt="Carl Glahn" src="http://www.gravatar.com/avatar/7a494380b665811215fa70cfda441d2b">
                Carl Glahn <br>
            </section>
        </div>

        <!--Nav Bar -->
        <div class="col-md-3 hidden-print hidden-xs">
        <nav class="bs-docs-sidebar affix">
            <ul class="nav nav-stacked fixed">
                <li><a href="#ApplicationPurpose">Application Purpose</a></li>
                <li><a href="#Preface">Preface</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#Vocabulary">Vocabulary</a></li>
                        <li><a href="#Navigation">Navigation</a></li>
                    </ul>
                </li>
                <li><a href="#Functionality">Functionality</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#CreatingNewSchedule">Creating new Schedule</a></li>
                        <li><a href="#CalendarView">Calendar View</a></li>
                        <li><a href="#SavedSchedules">Saved Schedules</a></li>
                        <li><a href="#Settings">Settings</a></li>
                        <li><a href="#AdminPage">Admin Page</a></li>
                    </ul>
                </li>
                <li><a href="#Distribution">Distribution</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#CodeLocation">Code Location</a></li>
                        <li><a href="#TechnologyOverview">Technology Overview</a></li>
                        <li><a href="#Database">Database</a></li>
                    </ul>
                </li>
                <li><a href="#MeetTheCreators">Meet the Creators</a></li>
            </ul>
        </nav>
        </div>
    </div>
{% endblock %}