{% extends "Master.html" %}

{% block title %}Schedule{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    {% if Chairs %}
        <span style="font-weight: bold">Chairs: </span>{{ Chairs }}
    {% else %}
        <p>No Chairs are Available</p>
    {% endif %}
    <br><br>
    {% if RNSet %}
        <table class="table">
            <tr style="font-weight: bold">
                <th>Pod Team</th>
                <th>Start Time</th>
                <th>Lunch Time</th>
                <th>Lunch Duration</th>
                <th>End Time</th>
            </tr>
            {% for RN in RNSet %}
                <tr>
                    <td>{{ RN.Team }}</td>
                    <td>{{ RN.StartTime }}</td>
                    <td>{{ RN.LunchTime }}</td>
                    <td>{{ RN.LunchDuration }}</td>
                    <td>{{ RN.EndTime }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No RNs are available.</p>
    {% endif %}
    <br>
    {% if Appointments %}
        <table>
            <tr style="font-weight: bold">
                <th>Appointments Needed</th>
            </tr>
        {% for App in Appointments %}
            <tr>
                <td>{{ App }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No appointments are available</p>
    {% endif %}
{% endblock %}