{% extends "Master.html" %}

{% block title %}New Schedule{% endblock %}
{% block head %}
    {% load static from staticfiles %}
    <script src="{% static "js/new_schedule.js"%}" rel="script"></script>
    <script>
        $(document).ready(function(){
            $('nav').show();
            $('.nav > li').removeClass('active');
            $('#navCreateNew').addClass('active');

            $('table input').each(function() {
              this.onchange = function(){CheckHoursUsed();};
            });
            $('table select').each(function() {
              this.onchange = function(){CheckHoursUsed();}
            });

            $('.time_input > input').each(function(){
               this.type = "time";
            });
        });
        function CheckHoursUsed(){
            var appMins = GetTotalAppointmentMinutes('{{ AppointmentFormSet.prefix }}');
            var RNMins = GetTotalRNMinutes('{{ RNFormSet.prefix }}', Math.max({{Chairs}})+1);
            var alert = document.getElementById("appointment_alert");
            if(appMins > RNMins)
            {
                $(alert).show();
                alert.innerText = "The appointments exceed the number of hours RNs are available!";
            }
            else $(alert).hide();
        }
    </script>
{% endblock %}

{% block content %}
    <form method="POST" action="/newSchedule/">
    {% csrf_token %}
    <div>
        <h3>RN Schedules</h3>
        <div id="pageAlert" class="alert alert-danger" role="alert" style="display: none;"></div>
        <div class="row">
            <div class="col-md-6">
                <div style="display: inline-block;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveRNmodal" onclick="
                        $('#yesOverwrite').hide();
                        $('#noOverwrite').hide();
                        $('#save_alert').hide();"
                    >Save Nurse Schedule</button><br><br></div>
                <div style="display: inline-block;">
                <button type="button" class="btn btn-primary" onclick="LoadScheduleNames()" data-toggle="modal" data-target="#loadRNModal">Load Nurse Schedule</button><br><br></div>
            </div>
        </div>
        {{ RNFormSet.management_form }}
        <table id="{{ RNFormSet.prefix }}Table" class='table table-striped'>
        <tr class="table-header">
            <th></th>
            <th></th>
            <th>Pod Team</th>
            <th>Start Time</th>
            <th>Lunch Time</th>
            <th>Lunch Duration</th>
            <th>End Time</th>
        </tr>
        {% for form in RNFormSet.forms %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Nurse {{ forloop.counter }}: {{ form.non_field_errors | striptags }}
                </div>
            {% endif %}
            <tr id="{{ RNFormSet.prefix }}-row-{{ forloop.counter }}" class="dynamic-{{ RNFormSet.prefix }}-row">
                <td>
                    <button type="button" aria-label="Delete" class="delete-button"
                            onclick="RemoveRowClick({{ forloop.counter }}, '{{ RNFormSet.prefix }}'); CheckHoursUsed();">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="RNNumber">Nurse {{ forloop.counter }}</td>
                <td>{{ form.Team }}</td>
                <td class="time_input">{{ form.StartTime }}</td>
                <td class="time_input">{{ form.LunchTime }}</td>
                <td>{{ form.LunchDuration }}</td>
                <td class="time_input">{{ form.EndTime }}</td>
            </tr>
        {% endfor %}
            <tr><td colspan="7">
                <button type="button" aria-label="Add" onclick="AddRowClick('{{ RNFormSet.prefix }}')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </td></tr>
        </table>
        <br>
    <hr>
    </div>

    <div>
        <h3>Reserved Time Periods</h3>
        {{ ReservedFormSet.management_form }}
        <table id="{{ ReservedFormSet.prefix }}Table" class='table table-striped'>
        <tr class="table-header">
            <th></th>
            <th>RN Number</th>
            <th>Chair Number</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for form in ReservedFormSet.forms %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ form.non_field_errors | striptags }}
                </div>
            {% endif %}
            <tr id="{{ ReservedFormSet.prefix }}-row-{{ forloop.counter }}" class="dynamic-{{ ReservedFormSet.prefix }}-row">
                <td>
                    <button type="button" aria-label="Delete" class="delete-button"
                            onclick="RemoveRowClick({{ forloop.counter }}, '{{ ReservedFormSet.prefix }}');">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </td>
                <td>{{ form.RNNumber }}</td>
                <td>{{ form.ChairNumber }}</td>
                <td class="time_input">{{ form.StartTime }}</td>
                <td class="time_input">{{ form.EndTime }}</td>
            </tr>
        {% endfor %}
            <tr><td colspan="7">
                <button type="button" aria-label="Add" onclick="AddRowClick('{{ ReservedFormSet.prefix }}')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </td></tr>
        </table>
        <br>
    <hr>
    </div>

    <div>
        <h3>Needed Timeslots</h3>
        <div id="appointment_alert" class="alert alert-danger" role="alert" style="display: none;"></div>
        <div class="row">
            <div class="col-md-6">
                <div style="display: inline-block;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveTimeSlotModal"
                    onclick="$('#yesOverwrite_app').hide();
                        $('#noOverwrite_app').hide();
                        $('#save_app_alert').hide();
                    ">Save Time Slots Input</button>
                    <br><br>
                </div>
                <div style="display: inline-block;">
                <button type="button" class="btn btn-primary" onclick="LoadTimeSlotNames()" data-toggle="modal" data-target="#loadTimeSlotModal">Load Saved Input</button><br><br></div>
            </div>
        </div>
        {{ AppointmentFormSet.management_form }}
        <table id="{{ AppointmentFormSet.prefix }}Table" class='table table-striped'>
        <tr>
                <th></th>
                <th>Time Period</th>
                <th>Total Needed</th>
        </tr>
        {% for form in AppointmentFormSet.forms %}
            <tr id="{{ AppointmentFormSet.prefix }}-row-{{ forloop.counter }}" class="dynamic-{{ AppointmentFormSet.prefix }}-row">
                <td>
                    <button type="button" aria-label="Delete" class="delete-button" disabled="disabled"
                            onclick="RemoveRowClick({{ forloop.counter }}, '{{ AppointmentFormSet.prefix }}'); CheckHoursUsed();">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </td>
                <td>{{ form.TimePeriod }}</td>
                <td>{{ form.Amount }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="6">
            <button type="button" aria-label="Add" onclick="AddRowClick('{{ AppointmentFormSet.prefix }}')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </td></tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/home/" type="button" class="btn btn-default">Cancel</a>
    </div>
    </form>

    <div id="loadRNModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Load RN Schedules</h4>
          </div>
          <div class="modal-body">
              <label for="savedSchedules">Select a schedule name:</label>
              <select id="savedSchedules"></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="LoadSchedule('{{ RNFormSet.prefix }}')" data-dismiss="modal">Load</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="saveRNModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Save RN Schedules</h4>
          </div>
          <div class="modal-body">
              <label for="id_ScheduleGroupName">Save as: </label>
              <input id="id_ScheduleGroupName" type="text">
              <br>
              <label id="save_alert">This is an alert!</label>
              <button id="yesOverwrite" type="button" class="btn btn-primary" data-dismiss="modal" onclick="
                    if(SaveSchedule('{{ RNFormSet.prefix }}', true))
                            $('#saveRNModal').modal('hide');
                  ">Yes</button>
              <button id="noOverwrite" type="button" class="btn btn-primary" onclick="
                   $('#yesOverwrite').hide();
                    $('#noOverwrite').hide();
                    $('#save_alert').hide();
                    $('#id_ScheduleGroupName').attr('readonly','false');
                ">No</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="
                    if(SaveSchedule('{{ RNFormSet.prefix }}', false))
                        $('#saveRNModal').modal('hide');
                ">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="loadTimeSlotModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Load Time Slots</h4>
          </div>
          <div class="modal-body">
              <label for="savedTimeSlots">Select saved timeslot input:</label>
              <select id="savedTimeSlots"></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="LoadTimeSlots('{{ AppointmentFormSet.prefix }}')" data-dismiss="modal">Load</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="saveTimeSlotModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Save Time Slots</h4>
          </div>
          <div class="modal-body">
              <label for="TimeSlotSaveName">Save as: </label>
              <input id="TimeSlotSaveName" type="text">
              <br>
              <label id="save_app_alert">This is an alert!</label>
              <button id="yesOverwrite_app" type="button" class="btn btn-primary" data-dismiss="modal" onclick="
                    if(SaveTimeSlots('{{ AppointmentFormSet.prefix }}', true))
                            $('#saveTimeSlotModal').modal('hide');
                  ">Yes</button>
              <button id="noOverwrite_app" type="button" class="btn btn-primary" onclick="
                    $('#yesOverwrite_app').hide();
                    $('#noOverwrite_app').hide();
                    $('#save_app_alert').hide();
                    $('#TimeSlotSaveName').attr('readonly','false');
                ">No</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="
                    if(SaveTimeSlots('{{ AppointmentFormSet.prefix }}', false))
                        $('#saveTimeSlotModal').modal('hide');
                ">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}