{% extends "Master.html" %}
{% block title %}Settings{% endblock%}
{% block head %}
    <script>
        $(document).ready(function () {
           //convert all time input to time type
            $('input').each(function(){
                if(this.type != 'hidden' && this.name.toUpperCase().indexOf('TIME') > 0)
                    this.type = "time";
            });
        });
    </script>
{% endblock %}
{% block content %}
    <form method="POST" action="/settings/">
    {% csrf_token %}
    {% if save_bool %}
    <div id="pageAlert" class="alert alert-success alert-dismissible" role="alert" style="display: block;">Settings have been saved.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endif %}
    <div>
        <h1>Additional Settings</h1>
        <hr>
        {% if CompanyForm.non_field_errors %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ CompanyForm.non_field_errors }}
            </div>
        {% endif %}
        {% for field in CompanyForm %}
            <div class="form-group" style="padding-bottom: 10px; max-width: 250px;">
                <span style="font-weight: bold">{{ field.label }}:</span><br>
                <div class="input-wrapper">{{ field }}</div>
                <div style="color: red;">{{ field.errors }}</div>
              </div>
        {% endfor %}
        <hr>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/home/" type="button" class="btn btn-default">Cancel</a>
    </div>
    </form>
{% endblock %}